<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">

	<title>Title</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<link rel="stylesheet" href="css/main.css">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

</head>

<body>

	<header class="main-header">
		<div class="container-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logo-wrap">
							<a href="/">
								<img src="img/logo.png" alt="logo">
							</a>
						</div>

						<div class="menu-wrap hidden-xs hidden-sm">
							<nav class="main-menu">
								<ul>
									<li><a href="#">Получить ссылку</a></li>
									<li><a href="#">Новости</a></li>
									<li><a href="#">Объявления</a></li>
									<li><a href="#">Предприятия</a></li>
									<li><a href="#">Народный бренд</a></li>
								</ul>
							</nav>
						</div>

						<a href="#" class="toggle-menu hidden-lg hidden-md"><span></span></a>

						<div class="main-mobile-menu hidden-lg hidden-md">
							<ul class="toggle-mobile-menu">
								<li><a href="#">Получить ссылку</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Объявления</a></li>
								<li><a href="#">Предприятия</a></li>
								<li><a href="#">Народный бренд</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<main class="main-body">
		<section class="section-1">
			<div class="container-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h2>Приложение города 24</h2>
							<p class="top-text">Приложение позволит вам оставаться в курсе последних событий и актуальных новостей. Разработано для смартфонов и планшетов на базе Android IOS</p>
							<p class="bot-text">Чтобы установить приложение введите номер для получения ссылки:</p>
							<div class="form-wrap">
								<form>
									<div class="input-wrap">
										<div class="one-input">
											<label>
												<input type="text" name="phone" id="phone" placeholder="Ваш номер телефона">
											</label>
										</div>
										<div class="button-wrap">
											<button class="button" type="submit">Получить</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5">
							<div class="phone-img-wrap">
								<img src="img/phone-1.png" alt="phone">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-2">
			<div class="container-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="phone-img-wrap">
								<img src="img/phone-2.png" alt="phone">
							</div>
						</div>
						<div class="col-md-7">
							<h2>Новости твоего города</h2>
							<p class="top-text">Вы не только сможете читать, слушать новости, но и создавать их сами! Добавлять фото, комментировать, обсуждать важные для вас темы , оценивать понравившиеся статьи. Теперь вся важная вам информация всегда у вас под рукой.</p>
							<p class="bot-text">Качайте Город 24!</p>
							<div class="button-wrap">
								<a href="#" class="button">Скачать</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-3">
			<div class="container-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h2>Объявления</h2>
							<p class="top-text">В приложении Город 24 всегда не только свежие новости, но и актуальные объявления. Город 24 позволит вам быстро найти объявления по любой категории. Вы ищите работника или работу, продаете или покупаете, сдаете в аренду или снимаете , все виды транспорта, недвижимости, товаров и услуг смотрите в простом и удобном интерфейсе.</p>
							<div class="button-wrap">
								<a href="#" class="button">Скачать</a>
							</div>
						</div>
						<div class="col-md-5">
							<div class="phone-img-wrap">
								<img src="img/phone-3.png" alt="phone">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-4">
			<div class="container-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="phone-img-wrap">
								<img src="img/phone-4.png" alt="phone">
							</div>
						</div>
						<div class="col-md-7">
							<h2>Предприятия</h2>
							<p class="top-text">Раздел предприятий позволит любому жителю города или отдыхающему буквально на ходу найти необходимую ему организацию, предприятие,кафе, отель, магазин, или фирму. С помощью геолокации приложение определит ваше местоположение и укажет путь к ближайшему объекту. Покажет описание компаний, ее рейтинг, расстояние до объекта, адрес, время работы, руководство, email, сайт компании А также укажет перечень похожих организаций. Бизнес каталог своего рода карманный справочник, удобный в использовании в любом месте и в любое время.</p>
							<div class="button-wrap">
								<a href="#" class="button">Скачать</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-5">
			<div class="container-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h2>Полезное радио</h2>
							<p class="top-text">Можно слушать прямой эфир Полезного радио <br> Предавать приветы и писать ведущим <br> Слушать любимые программы <br> и новости которые пропустил</p>
							<div class="button-wrap">
								<a href="#" class="button">Скачать</a>
							</div>
						</div>
						<div class="col-md-5">
							<div class="phone-img-wrap">
								<img src="img/phone-5.png" alt="phone">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-6">
			<div class="container-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="top-sect">
								<div class="content">
									<div class="img-wrap">
										<img src="img/logo-nb.png" alt="nb">
									</div>
									<h1>Народный <span>Бренд</span></h1>
								</div>
							</div>
							<div class="bot-sect">
								<div class="content">
									<span>Народный Бренд, с возможностью круглосуточного голосования</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-7">
			<div class="container-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="content">
								<div class="img-wrap">
									<img src="img/download.png" alt="img">
								</div>
								<p class="bot-text">Чтобы установить приложение <br> введите номер для получения ссылки:</p>
								<div class="form-wrap">
									<form>
										<div class="input-wrap">
											<div class="one-input">
												<label>
													<input type="text" name="phone" id="phone" placeholder="Ваш номер телефона">
												</label>
											</div>
											<div class="button-wrap">
												<button class="button" type="submit">Получить</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer class="main-footer">
		<div class="container-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="content">
							<h2>Как скачать без Play Market</h2>
							<ul>
								<li>1. Зайдите на эту страницу с мобильного телефона.</li>
								<li>2. Нажмите кнопку скачать</li>
								<li>3. Выберите полученный файл на устройстве (нажмите на него)</li>
								<li>4. В настройках разрешите "Не известные источники"</li>
								<li>5. Нажмите кнопу установить. Начнется установка.</li>
								<li>6. Все готово можете пользоваться приложением</li>
							</ul>
							<h3>Мы планируем постоянное обновление</h3>
							<p class="desc-text">Для обновления нужно провести туже самую операцию</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="js/scripts.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
