<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">

	<title>Администрирование</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.min.css">

	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

</head>

<body>

	<div class="mobile-menu">
		<nav class="main-menu">
			<div class="arrows-remove-wrap">
				<div class="arrows-remove"></div>
			</div>
			<ul>
				<li><a href="#">Сайт</a></li>
				<li><a href="#">Администрирование</a></li>
				<li><a href="#">Настройки</a></li>
				<li><a href="#">Помощь</a></li>
			</ul>

			<form class="search">
				<input class="search-input" type="text" placeholder="Поиск...">
			</form>
		</nav>
	</div>

	<header class="main-header">
		<div class="head-block-1">
			<div class="logo">
				<div class="logo-left">город</div>
				<div class="logo-right">
					<div class="logo-right-text">
						24
					</div>
				</div>
			</div>
			<div class="descr">
				<div class="descr-text">
					информационная<br>сеть
				</div> 
			</div>
		</div>
		<div class="head-block-2">
			<nav class="menu">
				<ul class="menu-ul">
					<li class="menu-ul-li"><a href="#" class="menu-ul-li-a">сайт</a></li>
					<li class="menu-ul-li menu-ul-active"><a href="#" class="menu-ul-li-a">администрирование</a></li>
					<li class="menu-ul-li"><a href="#" class="menu-ul-li-light"><span class="menu-ul-li-light-img"><i class="fa fa-cog" aria-hidden="true"></i></span>настройки</a></li>
					<li class="menu-ul-li"><a href="#" class="menu-ul-li-light"><span class="menu-ul-li-light-img"><i class="fa fa-question-circle" aria-hidden="true"></i></span>помощь</a></li>
				</ul>
			</nav>
			<form class="search">
				<input class="search-input" type="text" placeholder="Поиск...">
			</form>
		</div>
		<div class="head-block-3">
			<div class="auth">
				<ul class="auth-ul">
					<li class="auth-ul-li"><a href="#" class="auth-ul-li-a"><span class="auth-ul-li-light-img"><i class="fa fa-user-o" aria-hidden="true"></i></span>username</a></li>
					<li class="auth-ul-li"><a href="#" class="auth-ul-li-light">выйти</a></li>
				</ul>
			</div>
		</div>
		<div class="arrows-hamburger-wrap">
			<div class="arrows-hamburger"></div>
		</div>
	</header>

	<section class="main-section">
		<div class="sections">
			<div class="sectleft">
				<div class="sectleft-item">
					<span class="sectleft-item-icon"><i class="fa fa-calculator" aria-hidden="true"></i></span>
					<p class="sectleft-item-text">Бухгалтерия</p>
				</div>
				<div class="sectleft-item sectleft-active">
					<span class="sectleft-item-icon"><i class="fa fa-list" aria-hidden="true"></i></span>
					<p class="sectleft-item-text">Задачи</p>
				</div>
				<div class="sectleft-item">
					<span class="sectleft-item-icon"><i class="fa fa-sliders" aria-hidden="true"></i></span>
					<p class="sectleft-item-text">Управление</p>
				</div>
				<div class="sectleft-item">
					<span class="sectleft-item-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
					<p class="sectleft-item-text">Настройки</p>
				</div>
			</div>
			<div class="sectcenter">
				<h2>Задачи</h2>
				<ul>
					<li>
						<a href="#" class="dropdown-button" id="1">Структура сайта</a>
						<ul class="dropdown-list-1">
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="1-1">Айтем</a>
								<ul class="indropdown-list-1-1">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="1-2">Айтем</a>
								<ul class="indropdown-list-1-2">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="1-3">Айтем</a>
								<ul class="indropdown-list-1-3">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-button" id="2">Новости</a>
						<ul class="dropdown-list-2">
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="2-1">Айтем</a>
								<ul class="indropdown-list-2-1">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="2-2">Айтем</a>
								<ul class="indropdown-list-2-2">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="2-3">Айтем</a>
								<ul class="indropdown-list-2-3">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-button" id="3">Каталоги</a>
						<ul class="dropdown-list-3">
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="3-1">Айтем</a>
								<ul class="indropdown-list-3-1">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="3-2">Айтем</a>
								<ul class="indropdown-list-3-2">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="3-3">Айтем</a>
								<ul class="indropdown-list-3-3">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-button" id="4">Торговые предложения</a>
						<ul class="dropdown-list-4">
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="4-1">Айтем</a>
								<ul class="indropdown-list-4-1">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="4-2">Айтем</a>
								<ul class="indropdown-list-4-2">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="4-3">Айтем</a>
								<ul class="indropdown-list-4-3">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-button" id="5">Клуб</a>
						<ul class="dropdown-list-5">
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="5-1">Айтем</a>
								<ul class="indropdown-list-5-1">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="5-2">Айтем</a>
								<ul class="indropdown-list-5-2">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="5-3">Айтем</a>
								<ul class="indropdown-list-5-3">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-button" id="6">Схема</a>
						<ul class="dropdown-list-6">
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="6-1">Айтем</a>
								<ul class="indropdown-list-6-1">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="6-2">Айтем</a>
								<ul class="indropdown-list-6-2">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
							<li class="sectcenter-li">
								<a href="#" class="indropdown-button" id="6-3">Айтем</a>
								<ul class="indropdown-list-6-3">
									<li><a href="#">Список #1</a></li>
									<li><a href="#">Список #2</a></li>
									<li><a href="#">Список #3</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="sectright">
				<div class="sectright-breadcrumbs">
					<a href="#">Рабочий стол</a>
					<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
					<a href="#">Настройки</a>
					<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
					<a href="#">Настройки продукта</a>
					<span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
					<p>Настройка модулей</p>
				</div>
				<h2>Доставка еды в Феодосии: Разделы</h2>
				<div class="sectright-filters">
					<nav class="sectright-filters-nav">
						<ul class="sectright-filters-nav-menu">
							<li class="sectright-filters-nav-menu-li"><a href="#">Фильтр</a></li>
							<li class="sectright-filters-nav-menu-li"><a href="#">Раздел</a></li>
							<li class="sectright-filters-nav-menu-li"><a href="#">Таб</a></li>
							<li class="sectright-filters-nav-menu-li"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
					<form class="sectright-filters-form">
						<div class="sectright-filters-form-label">
							<label>
								<input class="filter-input" type="text" placeholder="Название">
							</label>
						</div>
						<div class="sectright-filters-form-label">
							<select class="filter-select">
								<option value="Раздел">Раздел</option>
								<option value="Раздел1">Раздел1</option>
								<option value="Раздел2">Раздел2</option>
							</select>
						</div>
						<div class="button-wrap">
							<a href="#" class="button">Найти</a>
						</div>
						<div class="button-wrap">
							<a href="#" class="button">Отменить</a>
						</div>
						<div class="right">
							<div class="button-wrap">
								<a href="#" class="button"><i class="fa fa-cog" aria-hidden="true"></i></a>
							</div>
							<div class="button-wrap">
								<a href="#" class="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
							</div>
						</div>
						
					</form>
				</div>
				<div class="sectright-table">
					<div class="button-wrap-inverse">
						<a href="#" class="button"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Создать товар</a>
					</div>
					<form class="sectright-table-form">
						<select class="filter-select">
							<option value="Раздел">Раздел</option>
							<option value="Раздел1">Раздел1</option>
							<option value="Раздел2">Раздел2</option>
						</select>
					</form>
					<div class="button-wrap">
						<a href="#" class="button">Добавить</a>
					</div>
					<div class="right">
						<div class="button-wrap">
							<a href="#" class="button"><i class="fa fa-cog" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="sectright-table-content">
						<table>
							<tr>
								<th><input type="checkbox" name="maincheck" id="maincheck"></th>
								<th class="left-head"><p>Название</p></th>
								<th><p>Активность</p></th>
								<th><p>Сорт.</p></th>
								<th><p>Дата изменения</p></th>
								<th><p>ID</p></th>
							</tr>
							<tr>
								<td><input type="checkbox" name="numbers[]" class="mc" value="0"></td>
								<td class="left-content"><p>Улучшенный чизбургер</p></td>
								<td><p>Да</p></td>
								<td><p>120</p></td>
								<td><p>17.04.2017 10:21:06</p></td>
								<td><p><span>743</span></p></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="numbers[]" class="mc" value="1"></td>
								<td class="left-content"><p>Гамбургер</p></td>
								<td><p>Да</p></td>
								<td><p>120</p></td>
								<td><p>17.04.2017 10:21:06</p></td>
								<td><p><span>743</span></p></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="numbers[]" class="mc" value="2"></td>
								<td class="left-content"><p>Дабл гамбургер</p></td>
								<td><p>Да</p></td>
								<td><p>120</p></td>
								<td><p>17.04.2017 10:21:06</p></td>
								<td><p><span>743</span></p></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="numbers[]" class="mc" value="3"></td>
								<td class="left-content"><p>Чизбургер</p></td>
								<td><p>Да</p></td>
								<td><p>120</p></td>
								<td><p>17.04.2017 10:21:06</p></td>
								<td><p><span>743</span></p></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="numbers[]" class="mc" value="4"></td>
								<td class="left-content"><p>Картофель фри</p></td>
								<td><p>Да</p></td>
								<td><p>120</p></td>
								<td><p>17.04.2017 10:21:06</p></td>
								<td><p><span>743</span></p></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="numbers[]" class="mc" value="5"></td>
								<td class="left-content"><p>Дабл чизбургер</p></td>
								<td><p>Да</p></td>
								<td><p>120</p></td>
								<td><p>17.04.2017 10:21:06</p></td>
								<td><p><span>743</span></p></td>
							</tr>
							<tr>
								<td><input type="checkbox" name="numbers[]" class="mc" value="6"></td>
								<td class="left-content"><p>Чикенбургер</p></td>
								<td><p>Да</p></td>
								<td><p>120</p></td>
								<td><p>17.04.2017 10:21:06</p></td>
								<td><p><span>743</span></p></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/scripts.min.js"></script>

</body>
</html>
